<div class="row header">
  <div class="col-sm-7">
    <h3><%= 'In Process' %></h3>
  </div>
</div>

<table class="workers table table-hover table-bordered table-striped table-white">
	<thead>
			<tr>
				<th>Request</th>
				<th>App</th>
				<th>Table</th>
				<th>ID#</th>
				<th>Status</th>
			</tr>
	</thead>
</table>

